<div style="margin-bottom: 25px;">
  <button (click)="changeUserToJoe()" style="">Change to Joe</button>
  <button (click)="changeUserToBill()" style="">Change to Bill</button>
</div>
<div>
  <div>
    employee name: Joe
  </div>
  <div>
    employee pay count: {{ pay.count }}
  </div>
  <div>
    employee pay currency: {{ pay.currency }}
  </div>
  <button (click)="doublePay()" style="margin-bottom: 25px;">Double pay</button>
  <app-expenses [pay]="pay"></app-expenses>
  <app-taxes [pay]="pay"></app-taxes>
</div>

